*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
html, body{
 scroll-behavior: smooth;
 font-family: "Arial", sans-serif;
 color: white;
}

header{
    background-color: #d9d9d9;
    position: fixed;
    width: 100vw;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
header nav a{
    color: rgb(47, 68, 66);
    padding: 8px;
    transition: background-color 1s;
}
header nav a:hover{ /* :hover quando passar o mouse em cima*/
    background-color: rgb(6, 38, 49);
    color: #d9d9d9;
}

.grupo{
    display: flex;
    align-items: center;
    padding: 50px 20px;
}

#Senai-Jandira{
    background-color: #8daba8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Senai-Jandira img{
    width: 95vw;
    margin-top: 5vh;
}
#Senai-Jandira h2{
    font-size: 70px;
    text-align: center;
    margin-top: 9vh;
    color: white;
}
#Senai-Jandira p{
    font-size: 30px;
    color: white;
    width: 900px;
}



#Lacres-Que-Transformam{
    background-color: #fb3a9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Lacres-Que-Transformam img{
    width: 20vw;
    margin-top: 17vh;
}




.grupo h2{
    font-size: 75px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 1px;
}
.grupo p{
    font-size: 30px;
    width: 900px;

}
.grupo div{
    text-align: center;
}